body, html {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px;
  flex-wrap: wrap; /* Allows the nav items to wrap */
}

nav .logo, nav .nav-links, nav .exit {
  flex: 1;
  min-width: 100px; /* Minimum width to prevent too much compression */
}

nav .logo {
  text-align: left;
}

nav .logo img {
  height: 50px; 
  width: auto; 
}

nav .nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Allows links to wrap to new line */
}

nav .nav-links a {
  margin: 5px 10px; /* Adjusted margin for spacing */
  color: white;
  text-decoration: none;
  white-space: nowrap; /* Prevents individual links from wrapping */
}

nav .nav-links a:hover {
  color: red; 
}

nav .exit {
  text-align: right;
}

nav a {
  color: white;
  text-decoration: none;
}