<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ECS-2</title>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/master_landing_page.css">
    <link rel="stylesheet" href="/vendor/bootstrap-5.0/css/bootstrap.min.css">  
</head>
<body>
    <nav>
      <div class="logo">
          <img src="/static/images/ECS_Logo.jpg" alt="Logo">
      </div>
      <div class="nav-links">
          <a href="#">inventory</a>
          <a href="#">users</a>
          <a href="#">new signing</a>
          <a href="#">pending signings</a>
          <a href="#">remove signings</a>
          <a href="#">switch signings</a>
          <a href="#">switch requests</a>
          <a href="#">update inventory</a>
          <a href="#">update users</a>
          <!-- Add more links as needed -->
      </div>
      <div class="exit">
          <a href="#">Exit</a>
      </div>
  </nav>
    <script src="/vendor/bootstrap-5.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>