<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ECS-2</title>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/master_landing_page.css">
    <link rel="stylesheet" href="/vendor/bootstrap-5.0/css/bootstrap.min.css">  
</head>
<body>
    <div class="landing-page">
        <header>
          <div class="container">
            <a href="#" class="logo">Your <b>Website</b></a>
            <ul class="links">
              <li>Home</li>
              <li>About Us</li>
              <li>Work</li>
              <li>Info</li>
              <li>Exit</li>
            </ul>
          </div>
        </header>
        <div class="content">
          <div class="container">
            <div class="info">
              <h1>Master landing page</h1>
              <p>hello <b>{{ full_name }}</b>. In this page you'll be able to access ...</p>
              <img src="/static/images/ECS_Logo.jpg" id="logo-image">
            </div>
            <div class="image">
              <img src="https://i.postimg.cc/65QxYYzh/001234.png">
            </div>
          </div>
        </div>
    </div>
    <script src="/vendor/bootstrap-5.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>