{% extends "base/master_base.html" %}

{% block added_styles %}
<link rel="stylesheet" type="text/css" href="/vendor/dataTables/css/jquery.dataTables.css">
<link rel="stylesheet" href="/static/css/master_styling/master_new_signing.css">
{% endblock %}

{% block content %}
<div class="container">
    <h2>Inventory</h2>
    <form id="itemsForm">
        <table id="collectionTable" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>checkbox</th>
                    <th>name</th>
                    <th>category</th>
                    <th>count</th>
                    <th>color</th>
                    <th>palga</th>
                    <th>mami_serial</th>
                    <th>manufacture_mkt</th>
                    <th>katzi_mkt</th>
                    <th>serial_no</th>
                    <th>description</th>
                    <th>amount</th>
                    <!-- Add more table headers according to your MongoDB collection's schema -->
                </tr>
            </thead>
        </table>
        <button type="submit" id="submitItems">Submit</button>
    </form>
</div>
{% endblock %}

{% block added_scripts %}
<script src="/static/js/master_js/master_new_signing.js"></script>
{% endblock %}
