{% extends "base/master_base.html" %}

{% block added_styles %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
<link rel="stylesheet" href="/static/css/master_styling/master_clients_table.css">
{% endblock %}

{% block content %}
<div class="container">
    <h2>Client Users</h2>
    <table id="collectionTable" class="display" style="width:100%">
        <thead>
            <tr>
                <th>first name</th>
                <th>last name</th>
                <th>personal id</th>
                <th>email</th>
                <th>palga</th>
                <th>team</th>
            </tr>
        </thead>
    </table>
</div>
{% endblock %}

{% block added_scripts %}
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
<script>
$(document).ready(function() {
    $('#collectionTable').DataTable({
        "ajax": {
            "url": "/collections-data/client_users", // API endpoint in your FastAPI app that returns collection data
            "dataSrc": "" // Adjust this based on the structure of your response
        },
        "columns": [
            { "data": "first_name" }, 
            { "data": "last_name" },
            { "data": "personal_id" }, 
            { "data": "email" },
            { "data": "palga" }, 
            { "data": "team" }
        ]
    });
});
</script>
{% endblock %}