<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ECS</title>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/vendor/bootstrap-5.0/css/bootstrap.min.css">  
</head>
<body>
    <div id="alert-container">
        <div id="alert-message">
          <span id="alert-text">Your alert message here!</span>
          <button id="close-alert" onclick="closeAlert()">x</button>
        </div>
    </div>

    <div class="login-box">
        <img src="/static/images/ECS_Logo.jpg">
        <h2>Login</h2>

        <form>
            <div class="user-box">
                <input type="text" id="personal-id">
                <label>Personal ID</label>
            </div>

            <div class="user-box">
                <input type="password" id="pwd">
                <label>Password</label>
            </div>

            <input type="checkbox" id="showPassword">
            <label for="showPassword" id="showPasswordLabel">Show Password</label>

            <button type="button" onclick="login()">Submit</button>
            
            <a href="/client_signup">Create a client account</a>
            <a href="/master_signup">Create a master account</a>
        </form>
    </div>
  
    <script src="/static/js/index.js"></script>
    <script src="/vendor/bootstrap-5.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>